
@{
    Layout = null;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Searching</title>
</head>
<body>

    @Html.Partial("RadioButton") 
    
  @*  <div class="jumbotron"> 
       @using(Html.BeginForm("Searching","Datastructure",FormMethod.Post))
       { 
           @Html.Label("Enter Number to Search")
           @Html.TextBox("Number")
           <button type="submit">Search</button>
         
           
       }
    </div>
    <div>
        @{
            if(ViewBag.Answer!=null){
        if(ViewBag.Answer)
        {
            <p>Found Number</p>
        }
            if (!ViewBag.Answer) { 
            <p>Number Not found</p>
            <p>@ViewBag.Answer</p>
            }
        }
        }
    </div> *@
</body>


</html>