
@{
    Layout = null;
    //var array="";
    
      var   array = ViewBag.Sorted as string[];
       var value = ViewBag.Search as string;
    int increment = -1;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sorting</title>
</head>
<body>

    
    <div class="jumbotron" align="center"> 
        @using (Html.BeginForm("Sorting", "Datastructure", FormMethod.Post))    
        {
               @Html.Partial("RadioButton")
              @Html.TextBox("name", "", new { @class="form-control"})<br/>
               <button type="submit" class="btn-primary ">Submit</button>
        
        }
      
    </div>
        <div class="container">
            @Html.Label(""+value)

        </div>
   
</body>
</html>
