@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@Styles.Render("~/Content/home")
@Scripts.Render("~/bundles/About")

<p>Use this area to provide additional information.</p>

@section mysec {
    <p>This is my section paragraph</p>
    }