@model OneToManyCrudOper.Models.SchoolDto

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create","School"))
{
    @*@Html.DropDownListFor(m=>m.SchoolId,(IEnumerable<SelectListItem>)ViewBag.Schools)*@
    @Html.EditorFor(m=>m.Name)
    <input type="submit" value="Create" />
}